<a
  class="list-group-item clearfix"
  [routerLink]="['/recipes', index]"
  routerLinkActive="active"
  [@hover]="hoverState"
  [@visible]
  (mouseover)="onMouseOver()"
  (mouseleave)="onMouseLeave()"
>
  <div class="col-xs-8">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <div class="col-xs-4">
    <img
      [src]="recipe.imagePath"
      [alt]="recipe.name"
      class="img-responsive"
      style="max-height: 100px"
    />
  </div>
</a>
